.spotlight {
    max-height: 400px;
    overflow: hidden;
}

.carousel-control-prev-icon, 
.carousel-control-next-icon{
    width: 8rem;
    height: 8rem;
}

.carousel-caption p {
    font-weight: 700;
}

.carousel-caption h3 {
    font-weight: 700;
}

.carousel-item img {
    width: 100%;
}

.featured-people h4 {
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 700;
}

.featured-people p {
    font-size: 0.85rem;
}

.featured-people a.badge {
    text-decoration: none;
    font-weight: normal;
}